@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.wrapper {
  width: 1440px;
  height: 4077px;
  background: #f6f6f6;
}

.header {
  width: 100%;
  height: 4%;
  background: #ffffff;
  display: grid;
  grid-template-columns: 109px 124px 100px;
  grid-template-rows: 70px;
  align-items: center;
  grid-gap: 200px;
  justify-content: space-around;
  border-bottom: 1px solid #f3f3f3;
}

.img_header {
  display: grid;
  grid-template-columns: repeat(3, 28px);
  grid-column-gap: 24px;
  cursor: pointer;
}

.smm_header {
  cursor: pointer;
}

nav {
  width: 100%;
  height: 2%;
  background: #ffffff;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-column-gap: 20px;
  grid-template-rows: 60px;
  justify-content: center;
  padding-top: 15px;
}

.title_nav {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 37px;
  color: #000000;
  cursor: pointer;
}

.home_nav {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 37px;
  color: #eda3b5;
  display: grid;
  justify-content: start;
  justify-items: center;
  grid-gap: 6px;
  cursor: pointer;
}

main {
  width: 100%;
  height: 14%;
  background: url(img/photomain.png);
  background-repeat: no-repeat;
}

.title_main {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 67px;
  width: 361px;
  color: #ffffff;
  padding-left: 164px;
  padding-top: 103px;
}

.inf_main {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 446px;
  color: #ffffff;
  padding-left: 164px;
  padding-top: 13px;
}

.button_main {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  width: 225px;
  height: 70px;
  background: #1b2437;
  border: #1b2437;
  border-radius: 15px;
  margin-left: 164px;
  margin-top: 34px;
  cursor: pointer;
}

.container {
  margin-top: 70px;
  display: grid;
  justify-content: center;
  grid-template-columns: 445px 303px 303px;
  grid-template-rows: 225px 204px;
  grid-gap: 30px;
}

.collection {
  background: url(img/sectionwomencollection.png);
  background-repeat: no-repeat;
  width: 445px;
  height: 458px;
  border-radius: 16px;
  cursor: pointer;
}

.title_collection {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 45px;
  color: #ffffff;
  padding-top: 268px;
  padding-left: 32px;
  width: 288px;
}

.inf_collection {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  padding-left: 32px;
}

.button_collection {
  width: 93px;
  height: 30px;
  opacity: 0.4;
  border-color: rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  margin-top: 8px;
  margin-left: 32px;
  cursor: pointer;
}

.text_button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
}

.total_collection {
  background: #efeff4;
  width: 303px;
  height: 225px;
  border-radius: 16px;
  cursor: pointer;
}

.inf_total {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #1b2437;
  padding-top: 53px;
  padding-left: 22px;
}

.title_total {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 45px;
  color: #1b2437;
  padding-left: 22px;
}

.dresses {
  background: url(img/sectionnewdresses.png);
  background-repeat: no-repeat;
  width: 303px;
  height: 225px;
  border-radius: 16px;
  cursor: pointer;
}

.inf_dresses {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  padding-top: 53px;
  padding-left: 39px;
}

.title_dresses {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 45px;
  color: #ffffff;
  padding-left: 39px;
}

.denim {
  background: url(img/sectiondenimjackets.png);
  background-repeat: no-repeat;
  width: 635px;
  height: 204px;
  grid-column-start: 2;
  border-radius: 16px;
  cursor: pointer;
}

.inf_denim {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #1b2437;
  padding-top: 64px;
  padding-left: 22px;
}

.title_denim {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 45px;
  color: #1b2437;
  padding-left: 22px;
}

.section {
  margin-top: 30px;
  margin-left: 165px;
  width: 77%;
  height: 8%;
  background: #ffffff;
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(4, 225px);
  grid-template-rows: 207px 20px 15px;
  grid-gap: 30px;
  align-items: end;
  justify-items: center;
}

.img_style {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  padding-top: 29px;
  padding-left: 75px;
  cursor: pointer;
}

.img {
  padding-left: 90px;
  cursor: pointer;
}

.other {
  padding-left: 880px;
  padding-top: 40px;
  padding-bottom: 20px;
  cursor: pointer;
}

.title_like,
.title_contacts {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 67px;
  color: #1b2437;
  padding-left: 165px;
  padding-top: 70px;
}

.container_like {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: repeat(2, 487px);
  grid-gap: 30px;
  justify-content: center;
}

.brunette_like,
.brown_like,
.short_like,
.brunette_like_two,
.brown_like_two,
.short_like_two {
  background: #ffffff;
  border-radius: 16px;
  width: 350px;
  height: 487px;
  position: relative;
}

.title_article_like {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  padding-top: 16px;
  padding-left: 24px;
}

.inf_like {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  padding-top: 8px;
  padding-left: 24px;
}

.cost_like {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 30px;
  color: #000000;
  padding-top: 37px;
  padding-left: 24px;
}

.button_like,
.button_like_pink {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  width: 153px;
  height: 58px;
  background: #1b2437;
  border: #1b2437;
  border-radius: 15px;
  margin-left: 63px;
  margin-top: 27px;
  cursor: pointer;
}

.button_like_pink {
  background: #eda3b5;
  border: #eda3b5;
}

.love {
  position: absolute;
  top: 16px;
  right: 16px;
  bottom: 427px;
  left: 290px;
  cursor: pointer;
}

.contacts {
  background: #ffffff;
  border-radius: 16px;
  width: 1110px;
  height: 658px;
  margin-top: 35px;
  margin-left: 165px;
}

.map_contacts {
  width: 1086px;
  height: 511px;
  padding-top: 12px;
  padding-left: 12px;
}

.items_contacts {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: repeat(2, 30px);
  justify-items: center;
  grid-row-gap: 24px;
  cursor: pointer;
}

.elements_contacts {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.footer {
  width: 1440px;
  height: 333px;
  background: #ffffff;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 255px);
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.logo_footer {
  padding-bottom: 24px;
}

.inf_footer {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #5c5c5c;
}

.title_links,
.title_more_inf,
.title_care {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  padding-bottom: 24px;
  cursor: pointer;
}

.inf_links,
.inf_more_inf,
.inf_care {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #8e8e93;
  padding-top: 22px;
  cursor: pointer;
}

footer {
  width: 1440px;
  height: 74px;
  background: #e5e5ea;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.copy {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;
  color: #8e8e93;
  margin-right: 300px;
}
