body {
  width: 1440px;
  height: 990px;
  background-color: #e5e5e5;
}

.banner_one {
  width: 1440px;
  height: 72px;
  background: #0b2239;
}

.banner_one_text {
  display: inline-block;
  width: 922px;
  height: 40px;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  line-height: 20px;
  padding: 0;
  padding-top: 2px;
  padding-left: 120px;
  color: #ffffff;
}

.banner_one_link {
  width: 106px;
  height: 36px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 12px;
  padding: 0;
  padding-left: 32px;
  padding-right: 10px;
  border-radius: 2px;
  color: #4ad295;
  vertical-align: super;
}

.banner_one_button {
  width: 130px;
  height: 36px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #ffffff;
  border-radius: 2px;
  border: #4ad295;
  background: #4ad295;
  vertical-align: super;
}

.banner_two {
  width: 1440px;
  height: 52px;
  margin-top: 24px;
  background-color: #2b2627;
}

.banner_two_image_one {
  width: 24px;
  height: 24px;
  vertical-align: text-bottom;
  padding-bottom: 10px;
  padding-left: 342px;
}

.banner_two_text {
  display: inline-block;
  width: 50%;
  height: 10%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
  vertical-align: top;
  padding-top: 4px;
  color: #ffffff;
}

.banner_two_text_color {
    color: #ffffff;
}

.banner_two_image_two {
  width: 2%;
  height: 60%;
  padding-top: 11px;
  padding-left: 0px;
  padding-right: 15px;
}

.banner_three {
  width: 560px;
  height: 72px;
  margin-top: 72px;
  margin-left: 60px;
  background-color: #ffffff;
  border-radius: 16px;
}

.banner_three_frame {
  width: 36px;
  height: 36px;
  padding: 14px;
  vertical-align: text-bottom;
}

.banner_three_text {
  display: inline-block;
  width: 62%;
  height: 56%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  vertical-align: top;
  padding-top: 4px;
  color: #0d0c22;
}

.banner_three_text_pink {
  color: #ea4c89;
}

.banner_three_button_one {
  width: 63px;
  height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #0d0c22;
  border-radius: 8px;
  border: #0d0c220d;
  background: #0d0c220d;
  padding: 22px, 10px, 22px, 10px;
  vertical-align: text-bottom;
  margin-bottom: 12px;
}

.banner_three_button_two {
  width: 52px;
  height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  border-radius: 8px;
  border: #ea4c89;
  background: #ea4c89;
  padding: 22px, 16px, 22px, 10px;
  vertical-align: text-bottom;
  margin-bottom: 12px;
}

.banner_four {
  width: 560px;
  height: 64px;
  margin-top: 24px;
  background-color: #26262b;
  border-radius: 10px;
  margin-left: 60px;
  margin-bottom: 0;
}

.banner_four_text {
  display: inline-block;
  width: 84%;
  height: 64%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  vertical-align: top;
  padding-top: 4px;
  padding-left: 18px;
  color: #ffffff;
}

.banner_four_text_brown {
  color: #e6842e;
}

.banner_four_button {
  width: 49px;
  height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #26262b;
  border-radius: 8px;
  border: #ffffff;
  background: #ffffff;
  padding: 18px, 16px, 18px, 10px;
  vertical-align: super;
  margin-top: 18px;
}

.banner_five {
  width: 360px;
  height: 206px;
  margin-top: 72px;
  background-color: #1c2540f2;
  border-radius: 6px;
  margin-left: 60px;
  display: inline-block;

}

.banner_five_title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  vertical-align: top;
  color: #ffffff;
  padding-left: 24px;
  padding-top: 14px;
}

.banner_five_text {
  width: 312px;
  height: 80px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  vertical-align: top;
  color: #ffffff;
  padding-left: 24px;
  padding-top: 6px;
  margin: 0;
  padding-bottom: 6px;
}

.banner_five_text_color {
    color: #ffffff;
}

.banner_five_text_two {
  width: 160px;
  height: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  vertical-align: top;
  color: #ffffff;
  padding-left: 24px;
  padding-top: 24px;
  vertical-align: top;
}

.banner_five_button {
  width: 84px;
  height: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  border-radius: 6px;
  border: #09b3af;
  background: #09b3af;
  margin-left: 66px;
  vertical-align: super;
}

.banner_six {
  width: 360px;
  height: 170px;
  background-color: #ffffff;
  border-radius: 16px;
  margin-left: 60px;
  margin-bottom: 0;
  display: inline-block;

}

.banner_six_title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  vertical-align: top;
  color: #0f181d;
  padding-left: 16px;
  padding-top: 2px;
}

.banner_six_text {
  width: 328px;
  height: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  vertical-align: top;
  color: #687f8c;
  padding-top: 2px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 16px;
}

.banner_six_button_one {
    display: inline-block;
    width: 160px;
    height: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #687F8C;
    border-radius: 6px;
    border: #EAF0F4;
    background: #EAF0F4;
    margin-left: 14px;
    margin-bottom: 32px;
    vertical-align: top;
}

.banner_six_button_two {
    width: 160px;
    height: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 6px;
    border: #40C1A7;
    background: #40C1A7;
    margin-right: 14px;
    margin-bottom: 32px;
    vertical-align: super;
}

.banner_seven {
    width: 320px;
  height: 260px;
  background: #FFFFFF;
  border-radius: 20px;
  margin-left: 340px;
  margin-top: 60px;
  display: inline-block;

}

.banner_seven_title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 28px;
    text-align: center;
    vertical-align: top;
    color: #15295A;
    padding-top: 6px;
    padding-bottom: 0px;
}

.banner_seven_text {
    width: 256px;
  height: 72px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  vertical-align: top;
  text-align: center;
  color: #15295A;
  padding-top: 0px;
  padding-right: 32px;
  padding-bottom: 8px;
  padding-left: 32px;
}

.banner_seven_button {
    width: 121px;
    height: 44px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 43px;
    border: #4A7EFF;
    background: #4A7EFF;
    text-align: center;
    margin-left: 99px;
    margin-right: 99px;
    margin-bottom: 19px;
    margin-top: 0px;
}

.banner_eight {
    width: 320px;
  height: 137px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-left: 60px;
display: inline-block;

}

.banner_eight_text {
    width: 288px;
  height: 60px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 16px;
  margin-bottom: 0px;
}

.banner_eight_text_two {
    width: 95px;
    height: 17px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #6666FF;
    padding-top: 20px;
    padding-right: 129px;
    padding-bottom: 24px;
    padding-left: 16px;
}

.banner_eight_button {
    width: 64px;
    height: 33px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 4px;
    border: #6666FF;
    background: #6666FF;
    margin-bottom: 16px;

}
