.swords {
  background: url(https://img.freepik.com/premium-photo/stars-and-galaxy-outer-space-sky-night-universe-black-starry_146539-811.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 110px;
}

.sword_one {
  margin-top: 9%;
}

.sword_three {
  margin-bottom: 9%;
}

.sword_one,
.sword_two,
.sword_three {
  width: 320px;
  height: 22px;
  background-color: gray;
  border: 1px solid white;
  border-radius: 18px;
}

.sword_one::before {
  content: " ";
  width: 40px;
  height: 20px;
  position: absolute;
  transform: translate(20%, 5%);
  background-color: black;
}

.sword_two::after {
  content: " ";
  width: 40px;
  height: 20px;
  position: absolute;
  transform: translate(680%, 5%);
  background-color: black;
}

.sword_three::before {
  content: " ";
  width: 40px;
  height: 20px;
  position: absolute;
  transform: translate(20%, 5%);
  background-color: black;
}

.sword_one {
  animation-name: hidden_sword;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0.74, 0, 0.6);
  animation-fill-mode: forwards;
}

.sword_two {
  animation-name: angry_sword;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: cubic-bezier(1, 0.74, 0, 0.6);
  animation-fill-mode: backwards;
}

.sword_three {
  animation-name: angry_swords;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: cubic-bezier(1, 0.74, 0, 0.6);
  animation-fill-mode: backwards;
}

@keyframes angry_sword {
  from {
    background-color: gray;
  }

  to {
    background-color: #2236b9;
    filter: drop-shadow(0 0 15px #2236b9) drop-shadow(0 0 50px #1b32ca)
      contrast(4) brightness(4);
    transform: rotate(60deg);
    transform-origin: center;
    margin-bottom: -35px;
  }
}

@keyframes angry_swords {
  from {
    background-color: gray;
  }

  to {
    background-color: #b92222;
    filter: drop-shadow(0 0 15px #b92222) drop-shadow(0 0 50px #a21c1c)
      contrast(4) brightness(4);
    transform: rotate(-60deg);
    transform-origin: center;
  }
}

@keyframes hidden_sword {
  from {
  }

  to {
    background-color: #083c19;
    filter: drop-shadow(0 0 15px #0d4b1a) drop-shadow(0 0 50px #094a1d)
      contrast(4) brightness(4);
    transform: translateY(100%);
    opacity: 0;
  }
}

.balance {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball_one,
.ball_two,
.ball_three,
.ball_four,
.ball_five,
.ball_six,
.ball_seven {
  margin-top: 5%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #7fffd4;
}

.ball_one {
  background-color: #2236b9;
  animation-name: ball_first;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: cubic-bezier(1, 0.74, 0, 0.6);
  animation-fill-mode: backwards;
}

.ball_two {
  background: linear-gradient(0.25turn, #2236b9, #7fffd4);
}

.ball_four {
  background-color: rgb(65, 255, 191);
}
.ball_five {
  background-color: rgb(26, 246, 173);
}

.ball_six,
.ball_seven {
  background-color: #1eb582;
}

.ball_seven {
  background-color: #2236b9;
  animation-name: ball_last;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(1, 0.74, 0, 0.6);
  animation-fill-mode: forwards;
}

@keyframes ball_first {
  from {
  }

  to {
    transform: translate(-100%, -100%);
  }
}

@keyframes ball_last {
  from {
  }

  to {
    transform: translate(100%, -100%);
  }
}
