.circle_direct {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #dc565b;
  position: absolute;
  transform: translate(319%, -50%);
}

.inf_circle {
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}

.circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #4094ef;
}

.background_circle {
  width: 154px;
  height: 154px;
  border-radius: 50%;
  background: url(img/background.png);
}

.forms_select {
  width: 33px;
  height: 29px;
  border-radius: 3px;
  background: #4094ef;
  color: #ffffff;
}

.circle_insta {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background: url(img/background.png);
}

.square {
  width: 297px;
  height: 297px;
  background: url(img/background.png);
  margin: 15px 15px 15px 15px;
}
