body {
    margin: 0;
    padding: 0;
    background-color: #333333;
    width: 1440px;
    height: 1480px;
}

table, tr, th, td {
border: 1px solid rgba(255, 255, 255, 0.362);
border-collapse: collapse;
}

.table_one {
    width: 63%;
    height: 12%;
    margin-left: 40px;
    margin-top: 20px;
    
}

.table_header {
    float: left;
    color: white;
    padding-left: 25px;
    padding-top: 5px;
padding-bottom: 5px;
}

.table_headers {
    float: right;
    color: white;
    padding-right: 270px;
    padding-top: 5px;
padding-bottom: 5px;
}

.table_td {
    color: white;
    padding-left: 25px;
}

.table_item {
    color: rgba(255, 255, 255, 0.362);
    padding-left: 523px;
}

.table_items {
    float: right;
    color: rgba(255, 255, 255, 0.362);
    font-size: 25px;
    padding-right: 25px;
}

.table_two {
    width: 63%;
    height: 12%;
    margin-left: 40px;
    margin-top: 20px;
}

.table_header_two {
    float: left;
    color: white;
    padding-left: 25px;
    margin-left: 0px;
    padding-top: 5px;
padding-bottom: 5px;
}

.table_headers_two {
    float: right;
    color: white;
    padding-right: 270px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table_two_img {
    padding-right: 5px;
    padding-left: 0px;
}

.table_td_two {
    color: white;
    padding-left: 25px;
}

.table_item_two {
    color: rgba(255, 255, 255, 0.362);
    padding-left: 488px;
}

.table_items_two {
    float: right;
    color: rgba(255, 255, 255, 0.362);
    font-size: 25px;
    padding-right: 25px;
}

.table_three {
    width: 63%;
    height: 12%;
    margin-left: 40px;
    margin-top: 20px;
    padding: 0px;
}

.table_header_three {
    float: left;
    color: white;
    padding-left: 25px;
    text-align: center;
    padding-top: 5px;
}

.table_headers_three {
    color: white;
    padding-right: 0px;
    padding-top: 5px;
    padding-left: 425px;
    vertical-align: sub;
}

.table_three_img {
    padding-right: 5px;
    padding-left: 0px;
}

.table_td_three {
    color: white;
    padding-left: 25px;
}

.table_item_three {
    color: rgba(255, 255, 255, 0.362);
    padding-left: 490px;
}

.table_items_three {
    float: right;
    color: rgba(255, 255, 255, 0.362);
    font-size: 25px;
    padding-right: 25px;
}

.search {
    background-color: rgb(100, 96, 96);
    background: rgb(100, 96, 96);
    height: 80%;
    border-radius: 10px;
    text-align: center;
    float: right;
    border-color:  rgb(100, 96, 96);
    color: white;
    margin: 0;
}