body {
  display: grid;
  justify-content: center;
}

.square {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(6, 50px);
  grid-gap: 18px;
  justify-content: center;
}

.grey {
  background: grey;
}

.grey:nth-last-of-type(2n) {
  background: rgb(245, 142, 142);
}

.grey:nth-last-of-type(4n) {
  background: grey;
}

.blue {
  background: rgb(157, 157, 249);
}

button {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  color: #ffffff;
  width: 501px;
  height: 92px;
  background: #44d3a8;
  border: #44d3a8;
  border-radius: 100px;
  margin-top: 80px;
  cursor: pointer;
}

button:before {
  position: absolute;
  right: 520px;
  top: 40px;
  content: " ";
  width: 200px;
  height: 8px;
  border-top: 2px solid #c4c4c4;
  border-bottom: 2px solid #c4c4c4;
}

button:after {
  position: absolute;
  left: 520px;
  top: 40px;
  content: " ";
  width: 200px;
  height: 8px;
  border-top: 2px solid #c4c4c4;
  border-bottom: 2px solid #c4c4c4;
}

button:hover {
  color: beige;
  background: rgb(192, 96, 96);
}